doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        title Добро пожаловать в Forget-me-not
        script(src='/js/code.js')
        link(rel="stylesheet" href="/css/cssreset.css")
        link(rel="stylesheet" href="/css/style.css")
